<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" />
</head>
<body>

  <div class="container">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="media-content">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
    <p class="media-content">Please try to go back</a> or <a href="/">return to the homepage</a>.</p>
    <p class="media-content">Good luck.</p>
  </div>

</body>
</html>
